<div class="row">
  <div class="col-md-4 justify-content-center">
    <h1>Creator: <%= @event.creator.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 justify-content-center">
    <h1>Attendees List</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4 justify-content-center">
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li><%= attendee.name %></li>
      <% end %>
      <%=  %>
    </ul>
  </div>
</div>