<div class="row justify-content-center">
  <div class="col-md-4 ">
    <h1>Creator: <%= @event.creator.name %></h1>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4 ">
      <h1>Attendees List</h1>
    </div>
    <div class="col-md-4 ">
      <ul>
        <% @event.attendees.each do |attendee| %>
          <li><%= attendee.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>